html,
body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
ul li{
    list-style: disc url(../img/404/arrow.svg) outside;
    margin-left: 15px; 
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}
.header{
    flex: 0 1 10%;
    background-color: #1A3E3E;
    padding: 20px 0;
}
.page{
    padding: 200px 0px 0px 0px;
    align-items: center;
    flex: 1 1 auto;
}
.page__title{
    font-size: 120px;
    font-weight: 700;
    margin: 0px 0px 50px 0px;
}
.page__text{
    font-size: 40px;
}
.page__code{
    font-size: 18px;
    margin: 35px 0px 20px 0px;
}
.page__title-links{
    font-size: 20px;
    font-weight: 700;
    margin: 0px 0px 10px 0px;
}
.page__link a{
    color: #1A3E3E;
    font-size: 16px;
}
.page__link a:hover{
    text-decoration: underline;
}
@media screen and (max-width: 996px) {
    .page{
        padding: 150px 0px 0px 0px;
    }
    .header{
        text-align: center;
    }
}
@media screen and (max-width: 600px) {
    .page{
        padding: 70px 0px 0px 0px;
    }
    .page__title{
        font-size: 80px;
        font-weight: 700;
        margin: 0px 0px 50px 0px;
    }
    .page__text{
        font-size: 25px;
    }
}